<!-- Introduction text   -->

<div class='container' id="abstractWrapper">
    <p>
        The SAO/NASA Astrophysics Data System (ADS), is an online database of over eight
        million astronomy and physics papers from both peer reviewed and non-peer reviewed sources.
        The ADS is managed by the Smithsonian Astrophysical Observatory and is a highly used resource in
        the Astronomy and Physics communities.
    </p>
    <p>
        Powered by Flask and Sigma.js, our ADS Graph Vizualization tool allows researchers to visually
        explore relationships between authors and journals across several subjects.
        Select between subjects and graph types and 'Make it So'!
    </p>
    <p>
        Clicking on a node will highlight its immediate 'neighborhood'. Nodes with higher centrality
        (importance) appear larger. Important edges in projected graphs will appear red while less important
        relationships transparent. Double clicking any node for any graph will bring up more detailed information
        which can be collected and stored in csv for offline analysis.
    </p>

</div>
