<!DOCTYPE html>
<html>
<head>
    <title>NASA ADS Graph Network</title>
    <!-- bootstrap and custom css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/custom.css" rel="stylesheet">

    <!-- jquery bootstrap  sigma + plugins-->
    <script src="static/js/jquery-3.1.0.min.js"type="text/javascript"> </script>
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
    <!--  sigma + plugins -->
    <script src="static/js/sigma.min.js" type="text/javascript"></script>
    <script src="static/js/sigma.layout.forceAtlas2.min.js" type="text/javascript"></script>
    <!-- <script src="static/js/sigma.plugins.animate.min.js" type="text/javascript"></script> -->
    <!-- <script src="static/js/sigma.layout.noverlap.min.js" type="text/javascript"></script> -->

</head>
<body>
    <header>
        <h1> NASA ADS: Demo Version</h1>
        <p>
            Select graph type and subject and hit submit...
        </p>
        <div class="container">
            <!-- Bootstrap 2- field form  -->
            <form class="form-inline">
                <select class="custom-select" id="gtypeSelect">
                    <option selected>Select a Graph Type </option>
                    <option value="islands">Island Subgraph (Author and Journal) </option>
                    <option value="j_lg_cc">Largest Connected Component Subgraph (Journal)</option>
                    <option value="a_lg_cc">Largest Connected Component Subgraph (Author)</option>
                    <option value="main">Main Graph</option>
                </select>
                <select class="custom-select" id="querySelect">
                    <option selected>Select a Subject </option>
                    <option value="high_energy_astrophysics">High Energy Astrophysics</option>
                    <option value="exoplanet_astronomy">Exoplanet Astronomy</option>
                    <option value="cosmology">Cosmology</option>
                    <option value="stars">Stars (Demo)</option>
                </select>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Make it So!</button>
                </div>
            </form>
        </div>
    </header>

    <div class='container' id='controlContainer'>
        <button type="button" id="pauseForceAtlas"> Pause Gravity </button>
    </div>

    <div class="row">
        <div class="span8">
            <div id="graphContainer" ></div>
        </div>
        <div class="span4">
            <div class='container' id='htmlTableWrapper'>
                <table class='table' id='htmlTable'>
                    <thead>
                        <tr>
                          <th>Label</th>
                          <th>Type</th>
                          <th>Betweeness</th>
                          <th>Degree</th>
                          <th>PageRank</th>
                          <th>Remove?</th>
                        </tr>
                    </thead>
                    <tbody></tbody>    <!-- jquery fills in rows for node table -->
                </table>
            </div>
        </div>
    </div>


    <!-- main.js script -->
    <script src="static/js/main.js"></script>

</body>
</html>
